/* line 2, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/base/_base.scss */
* {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

/* line 7, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/base/_base.scss */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  letter-spacing: .4px;
  color: #666;
  font-size: 1rem;
}

/* line 17, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/base/_base.scss */
header {
  padding: 20px 15px;
}

/* line 21, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/base/_base.scss */
img {
  max-width: 100%;
}

/* line 25, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/base/_base.scss */
h1 {
  font-size: 3rem;
  font-weight: 400;
}

/* line 30, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/base/_base.scss */
h1,
h4 {
  text-transform: uppercase;
  font-weight: 400;
}

/* line 36, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/base/_base.scss */
p {
  line-height: 1.875rem;
}

/* line 3, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/components/_buttons.scss */
.menu {
  background: #333645;
  color: white;
  width: 63px;
  height: 63px;
  padding: 5px 15px;
  margin-left: 20px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: .75rem;
}

/* line 18, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/components/_buttons.scss */
.hero-btn {
  background: #926fb1;
  border: 1px solid #926fb1;
  border-radius: 3px;
  min-width: 128px;
  min-height: 47px;
  padding: 15px 15px;
  text-transform: uppercase;
  color: white;
  line-height: 35px;
  text-align: center;
  font-size: 1.25rem;
  margin: 0 25%;
  font-weight: 400;
}

/* line 34, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/components/_buttons.scss */
.card-btn {
  background: #4183d7;
  border: 1px solid;
  border-radius: 3px;
  width: 128px;
  height: 47px;
  padding: 5px;
  text-transform: uppercase;
  color: white;
  line-height: 35px;
  text-align: center;
  font-size: 1.063rem;
}

/* line 48, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/components/_buttons.scss */
.culture-btn {
  background: white;
  border: 1px solid white;
  border-radius: 3px;
  min-width: 128px;
  min-height: 47px;
  padding: 10px 15px;
  text-transform: uppercase;
  color: #333645;
  line-height: 35px;
  text-align: center;
  font-size: 1.063rem;
  font-weight: 400;
}

/* line 63, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/components/_buttons.scss */
.news-btn {
  background: #4183d7;
  border: 1px solid #4183d7;
  border-radius: 3px;
  min-width: 128px;
  min-height: 47px;
  padding: 10px 15px;
  text-transform: uppercase;
  color: white;
  line-height: 35px;
  text-align: center;
  font-size: 1.063rem;
  font-weight: 400;
}

/* line 79, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/components/_buttons.scss */
.app-btn {
  background: #67809f;
}

/* line 83, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/components/_buttons.scss */
.digital-btn {
  background: #2ecc71;
}

/* line 87, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/components/_buttons.scss */
.tele-btn {
  background: #d64541;
}

/* line 91, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/components/_buttons.scss */
.web-btn {
  background: #926fb1;
}

/* line 95, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/components/_buttons.scss */
.cyber-btn {
  background: #f62459;
}

/* line 99, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/components/_buttons.scss */
.dev-btn {
  background: #926fb1;
}

/* line 3, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/components/_icons.scss */
.phone {
  color: #333645;
  height: 71px;
  width: 70px;
  display: inline-flex;
  align-items: center;
}

/* line 11, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/components/_icons.scss */
.icon {
  height: 60px;
  width: 60px;
  margin: 0 auto 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 21, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/components/_icons.scss */
.apps,
.it,
.digital-m,
.tele-c,
.web,
.cyber,
.dev-t {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 34, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/components/_icons.scss */
.app-icon {
  background: #67809f;
}

/* line 37, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/components/_icons.scss */
.it {
  background: #4183d7;
}

/* line 40, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/components/_icons.scss */
.digital-m {
  background: #2ecc71;
}

/* line 43, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/components/_icons.scss */
.tele-c {
  background: #d64541;
}

/* line 46, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/components/_icons.scss */
.web {
  background: #926fb1;
}

/* line 49, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/components/_icons.scss */
.cyber {
  background: #f62459;
}

/* line 52, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/components/_icons.scss */
.dev-t {
  background: #926fb1;
}

/* line 3, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(to right, black, transparent), url("/NmHomepage/img/web-design.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 681px;
  color: white;
}

/* line 19, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.hero p {
  font-size: 1.25rem;
  margin: 0 15% 35px 15%;
}

/* line 24, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.card-container {
  width: 100%;
  padding: 50px 15px;
}

/* line 29, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.card {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 30px;
  padding: 30px;
  min-height: calc(100%/7);
}

/* line 47, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.card h2 {
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 10px;
}

/* line 53, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.card p {
  font-size: .8125rem;
  line-height: 1.375rem;
  margin-top: 0;
}

/* line 59, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
h2::after {
  content: "";
  background: black;
  width: 28px;
  height: 3px;
  margin: 10px auto 0 auto;
  display: block;
}

/* line 68, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.info-container {
  background: #333645;
  color: white;
  margin-right: auto;
  margin-left: auto;
  padding: 25px 15px 50px 15px;
}

/* line 75, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.info-container h1 {
  margin-top: 0;
  font-size: 2.25rem;
}

/* line 80, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.info-container p {
  margin-bottom: 25px;
}

/* line 84, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.latest-bar {
  display: flex;
  align-items: center;
  height: 104px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  background: white;
}

/* line 95, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.latest-bar ul::after {
  content: "";
  background: black;
  height: 5px;
  margin: 17px auto 0 auto;
  display: block;
}

/* line 103, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.news-header {
  list-style: none;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 600;
  padding: 40px 0;
  margin: 0;
}

/* line 113, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.news-section {
  padding: 15px 15px 50px;
  width: 100%;
}

/* line 117, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.news-block {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  margin: auto;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  text-align: left;
}

/* line 130, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.case {
  background: #926fb1;
  border-color: #926fb1;
}

/* line 135, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.news-color {
  background: #4183d7;
}

/* line 139, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.case-title {
  color: #926fb1;
}

/* line 143, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.news-title {
  color: #4183d7;
}

/* line 147, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.img-container {
  width: 100%;
  height: 100%;
  margin-bottom: -7px;
}

/* line 153, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.img-container-a {
  width: 100%;
  height: 100%;
  display: block;
}

/* line 160, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.news-img {
  min-width: 100%;
  border: 1px solid #ccc;
}

/* line 165, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.news-text {
  border: 1px solid #ccc;
  padding: 30px;
}

/* line 170, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.news-text-content {
  margin-bottom: 50px;
}

/* line 174, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.user {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #ccc;
}

/* line 182, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.user img {
  max-width: 47px;
  max-height: 47px;
}

/* line 188, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.sponsors {
  display: none;
}

/* line 192, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.footer-container {
  padding: 47px 0 43px;
  width: 100%;
}

/* line 198, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.footer-block {
  padding: 0 15px;
  margin-bottom: 30px;
  width: 100%;
}

/* line 204, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.accred {
  display: none;
}

/* line 219, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.software-card:hover p {
  color: white;
}

/* line 222, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.software-card:hover h2 {
  color: white;
}

/* line 225, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.software-card:hover .apps {
  color: #67809f;
}

/* line 228, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.software-card:hover .icon {
  background: white;
}

/* line 231, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.software-card:hover h2::after {
  background: white;
}

/* line 234, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.software-card:hover .app-btn {
  color: #67809f;
  background: white;
  border-color: white;
}

/* line 242, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.software-card:hover {
  background: #67809f;
}

/* line 248, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.it-card:hover p {
  color: white;
}

/* line 251, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.it-card:hover h2 {
  color: white;
}

/* line 254, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.it-card:hover .it {
  color: #4183d7;
}

/* line 257, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.it-card:hover .icon {
  background: white;
}

/* line 260, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.it-card:hover h2::after {
  background: white;
}

/* line 263, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.it-card:hover .it-btn {
  color: #4183d7;
  background: white;
  border-color: white;
}

/* line 271, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.it-card:hover {
  background: #4183d7;
}

/* line 277, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.digital-card:hover p {
  color: white;
}

/* line 280, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.digital-card:hover h2 {
  color: white;
}

/* line 283, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.digital-card:hover .digital-m {
  color: #2ecc71;
}

/* line 286, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.digital-card:hover .icon {
  background: white;
}

/* line 289, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.digital-card:hover h2::after {
  background: white;
}

/* line 292, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.digital-card:hover .digital-btn {
  color: #2ecc71;
  background: white;
  border-color: white;
}

/* line 300, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.digital-card:hover {
  background: #2ecc71;
}

/* line 306, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.tele-card:hover p {
  color: white;
}

/* line 309, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.tele-card:hover h2 {
  color: white;
}

/* line 312, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.tele-card:hover .tele-c {
  color: #d64541;
}

/* line 315, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.tele-card:hover .icon {
  background: white;
}

/* line 318, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.tele-card:hover h2::after {
  background: white;
}

/* line 321, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.tele-card:hover .tele-btn {
  color: #d64541;
  background: white;
  border-color: white;
}

/* line 329, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.tele-card:hover {
  background: #d64541;
}

/* line 335, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.web-card:hover p {
  color: white;
}

/* line 338, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.web-card:hover h2 {
  color: white;
}

/* line 341, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.web-card:hover .web {
  color: #926fb1;
}

/* line 344, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.web-card:hover .icon {
  background: white;
}

/* line 347, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.web-card:hover h2::after {
  background: white;
}

/* line 350, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.web-card:hover .web-btn {
  color: #926fb1;
  background: white;
  border-color: white;
}

/* line 358, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.web-card:hover {
  background: #926fb1;
}

/* line 364, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.cyber-card:hover p {
  color: white;
}

/* line 367, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.cyber-card:hover h2 {
  color: white;
}

/* line 370, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.cyber-card:hover .cyber {
  color: #f62459;
}

/* line 373, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.cyber-card:hover .icon {
  background: white;
}

/* line 376, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.cyber-card:hover h2::after {
  background: white;
}

/* line 379, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.cyber-card:hover .cyber-btn {
  color: #f62459;
  background: white;
  border-color: white;
}

/* line 387, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.cyber-card:hover {
  background: #f62459;
}

/* line 393, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.dev-card:hover p {
  color: white;
}

/* line 396, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.dev-card:hover h2 {
  color: white;
}

/* line 399, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.dev-card:hover .dev-t {
  color: #926fb1;
}

/* line 402, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.dev-card:hover .icon {
  background: white;
}

/* line 405, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.dev-card:hover h2::after {
  background: white;
}

/* line 408, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.dev-card:hover .dev-btn {
  color: #926fb1;
  background: white;
  border-color: white;
}

/* line 416, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.dev-card:hover {
  background: #926fb1;
}

/* line 3, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_footer.scss */
footer {
  background: #333645;
  color: white;
}

/* line 8, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_footer.scss */
footer h4 {
  font-size: 1rem;
  margin-bottom: 0;
}

/* line 13, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_footer.scss */
footer ul {
  list-style: none;
  padding: 0;
}

/* line 18, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_footer.scss */
footer ul li {
  font-size: 0.8125rem;
  line-height: 1.375rem;
}

/* line 23, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_footer.scss */
footer a {
  text-decoration: none;
  color: white;
}

/* line 28, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_footer.scss */
.social-blocks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

/* line 37, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_footer.scss */
.social-block {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 55px;
  width: 45%;
  background: rgba(0, 0, 0, 0.25);
  margin-top: 30px;
}

/* line 2, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_header.scss */
.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 10px;
}

/* line 11, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_header.scss */
.header-logo {
  display: flex;
  flex-direction: row;
  width: 55%;
  height: 70px;
  margin: 0 auto 0 0;
  padding: 20px 0;
  justify-content: flex-start;
  align-items: center;
}

/* line 22, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_header.scss */
.actions {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
}

/* line 29, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_header.scss */
.search-bar {
  position: relative;
  width: 100%;
  height: 47px;
  margin-top: 20px;
  display: flex;
  margin: 10px auto;
  font-size: 1rem;
}

/* line 40, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_header.scss */
.search {
  width: 100%;
  height: 47px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 5px 40px 5px 15px;
  outline: 0;
  background-color: #f5f5f5;
  margin-top: 10px;
}

/* line 50, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_header.scss */
.fa-search {
  width: 48px;
  height: 48px;
  margin-top: 10px;
  position: absolute;
  top: 7px;
  right: -7px;
}

@media screen and (min-width: 768px) {
  /* line 5, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_media-queries.scss */
  .header-container {
    justify-content: center;
    align-items: center;
    width: 97%;
    margin: 0 auto;
    flex-wrap: nowrap;
  }
  /* line 13, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_media-queries.scss */
  .header-logo {
    width: 364px;
    height: 60px;
  }
  /* line 18, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_media-queries.scss */
  .phone {
    display: none;
  }
  /* line 22, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_media-queries.scss */
  .search-bar {
    order: 2;
    height: 63px;
    width: 237px;
    margin: 0;
  }
  /* line 29, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_media-queries.scss */
  .search {
    height: 63px;
    margin: 0;
  }
  /* line 34, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_media-queries.scss */
  .actions {
    order: 3;
  }
}

/*# sourceMappingURL=style.css.map */