/* line 2, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/base/_base.scss */
* {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

/* line 7, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/base/_base.scss */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  letter-spacing: .4px;
  color: #666;
  font-size: 1rem;
}

/* line 17, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/base/_base.scss */
header {
  padding: 20px 0;
}

/* line 21, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/base/_base.scss */
img {
  max-width: 100%;
}

/* line 25, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/base/_base.scss */
h1 {
  font-size: 3rem;
  font-weight: 400;
}

/* line 30, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/base/_base.scss */
h1,
h4 {
  text-transform: uppercase;
  font-weight: 400;
}

/* line 36, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/base/_base.scss */
p {
  line-height: 1.875rem;
}

/* line 8, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.software-card:hover p {
  color: white;
}

/* line 11, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.software-card:hover h2 {
  color: white;
}

/* line 14, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.software-card:hover .apps {
  color: #67809f;
}

/* line 17, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.software-card:hover .icon {
  background: white;
}

/* line 20, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.software-card:hover h2::after {
  background: white;
}

/* line 23, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.software-card:hover .app-btn {
  color: #67809f;
  background: white;
  border-color: white;
}

/* line 31, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.software-card:hover {
  background: #67809f;
}

/* line 37, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.it-card:hover p {
  color: white;
}

/* line 40, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.it-card:hover h2 {
  color: white;
}

/* line 43, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.it-card:hover .it {
  color: #4183d7;
}

/* line 46, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.it-card:hover .icon {
  background: white;
}

/* line 49, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.it-card:hover h2::after {
  background: white;
}

/* line 52, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.it-card:hover .it-btn {
  color: #4183d7;
  background: white;
  border-color: white;
}

/* line 60, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.it-card:hover {
  background: #4183d7;
}

/* line 66, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.digital-card:hover p {
  color: white;
}

/* line 69, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.digital-card:hover h2 {
  color: white;
}

/* line 72, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.digital-card:hover .digital-m {
  color: #2ecc71;
}

/* line 75, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.digital-card:hover .icon {
  background: white;
}

/* line 78, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.digital-card:hover h2::after {
  background: white;
}

/* line 81, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.digital-card:hover .digital-btn {
  color: #2ecc71;
  background: white;
  border-color: white;
}

/* line 89, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.digital-card:hover {
  background: #2ecc71;
}

/* line 95, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.tele-card:hover p {
  color: white;
}

/* line 98, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.tele-card:hover h2 {
  color: white;
}

/* line 101, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.tele-card:hover .tele-c {
  color: #d64541;
}

/* line 104, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.tele-card:hover .icon {
  background: white;
}

/* line 107, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.tele-card:hover h2::after {
  background: white;
}

/* line 110, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.tele-card:hover .tele-btn {
  color: #d64541;
  background: white;
  border-color: white;
}

/* line 118, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.tele-card:hover {
  background: #d64541;
}

/* line 124, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.web-card:hover p {
  color: white;
}

/* line 127, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.web-card:hover h2 {
  color: white;
}

/* line 130, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.web-card:hover .web {
  color: #926fb1;
}

/* line 133, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.web-card:hover .icon {
  background: white;
}

/* line 136, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.web-card:hover h2::after {
  background: white;
}

/* line 139, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.web-card:hover .web-btn {
  color: #926fb1;
  background: white;
  border-color: white;
}

/* line 147, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.web-card:hover {
  background: #926fb1;
}

/* line 153, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.cyber-card:hover p {
  color: white;
}

/* line 156, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.cyber-card:hover h2 {
  color: white;
}

/* line 159, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.cyber-card:hover .cyber {
  color: #f62459;
}

/* line 162, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.cyber-card:hover .icon {
  background: white;
}

/* line 165, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.cyber-card:hover h2::after {
  background: white;
}

/* line 168, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.cyber-card:hover .cyber-btn {
  color: #f62459;
  background: white;
  border-color: white;
}

/* line 176, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.cyber-card:hover {
  background: #f62459;
}

/* line 182, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.dev-card:hover p {
  color: white;
}

/* line 185, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.dev-card:hover h2 {
  color: white;
}

/* line 188, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.dev-card:hover .dev-t {
  color: #926fb1;
}

/* line 191, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.dev-card:hover .icon {
  background: white;
}

/* line 194, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.dev-card:hover h2::after {
  background: white;
}

/* line 197, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.dev-card:hover .dev-btn {
  color: #926fb1;
  background: white;
  border-color: white;
}

/* line 205, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.dev-card:hover {
  background: #926fb1;
}

/* line 214, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.bus:hover .bus-color {
  display: initial;
}

/* line 218, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.crane:hover .crane-color {
  display: initial;
}

/* line 222, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.beat:hover .beat-color {
  display: initial;
}

/* line 226, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.northern:hover .northern-color {
  display: initial;
}

/* line 235, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.f-50:hover .f-50-color {
  display: initial;
}

/* line 239, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.qms:hover .qms-color {
  display: initial;
}

/* line 243, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/utility/_hovers.scss */
.carbon:hover .carbon-color {
  display: initial;
}

/* line 3, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/components/_buttons.scss */
.menu {
  background: #333645;
  color: white;
  width: 63px;
  height: 56px;
  padding: 5px 15px;
  margin-left: 20px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: .75rem;
}

/* line 18, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/components/_buttons.scss */
.search-btn {
  height: 56px;
  width: 100%;
  background: #999aa2;
  border-radius: 0 3px 3px 0;
  border: none;
}

/* line 27, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/components/_buttons.scss */
.hero-btn {
  background: #926fb1;
  border: 1px solid #926fb1;
  border-radius: 3px;
  min-width: 128px;
  min-height: 47px;
  padding: 15px 15px;
  text-transform: uppercase;
  color: white;
  line-height: 35px;
  text-align: center;
  font-size: 1.25rem;
  margin: 0 25%;
  font-weight: 400;
}

/* line 43, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/components/_buttons.scss */
.card-btn {
  background: #4183d7;
  border: 1px solid;
  border-radius: 3px;
  width: 128px;
  height: 47px;
  padding: 5px;
  text-transform: uppercase;
  color: white;
  line-height: 35px;
  text-align: center;
  font-size: 1.063rem;
}

/* line 57, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/components/_buttons.scss */
.culture-btn {
  background: white;
  border: 1px solid white;
  border-radius: 3px;
  min-width: 128px;
  min-height: 47px;
  padding: 10px 15px;
  text-transform: uppercase;
  color: #333645;
  line-height: 35px;
  text-align: center;
  font-size: 1.063rem;
  font-weight: 400;
}

/* line 72, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/components/_buttons.scss */
.news-btn {
  background: #4183d7;
  border: 1px solid #4183d7;
  border-radius: 3px;
  min-width: 128px;
  min-height: 47px;
  padding: 10px 15px;
  text-transform: uppercase;
  color: white;
  line-height: 35px;
  text-align: center;
  font-size: 1.063rem;
  font-weight: 400;
}

/* line 88, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/components/_buttons.scss */
.app-btn {
  background: #67809f;
}

/* line 92, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/components/_buttons.scss */
.digital-btn {
  background: #2ecc71;
}

/* line 96, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/components/_buttons.scss */
.tele-btn {
  background: #d64541;
}

/* line 100, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/components/_buttons.scss */
.web-btn {
  background: #926fb1;
}

/* line 104, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/components/_buttons.scss */
.cyber-btn {
  background: #f62459;
}

/* line 108, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/components/_buttons.scss */
.dev-btn {
  background: #926fb1;
}

/* line 3, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/components/_icons.scss */
.phone {
  color: #333645;
  height: 71px;
  width: 70px;
  display: inline-flex;
  align-items: center;
}

/* line 11, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/components/_icons.scss */
.icon {
  height: 60px;
  width: 60px;
  margin: 0 auto 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 22, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/components/_icons.scss */
.fa-mouse,
.fa-paper-plane {
  margin-right: 12px;
}

/* line 28, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/components/_icons.scss */
.apps,
.it,
.digital-m,
.tele-c,
.web,
.cyber,
.dev-t {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 41, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/components/_icons.scss */
.app-icon {
  background: #67809f;
}

/* line 44, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/components/_icons.scss */
.it {
  background: #4183d7;
}

/* line 47, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/components/_icons.scss */
.digital-m {
  background: #2ecc71;
}

/* line 50, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/components/_icons.scss */
.tele-c {
  background: #d64541;
}

/* line 53, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/components/_icons.scss */
.web {
  background: #926fb1;
}

/* line 56, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/components/_icons.scss */
.cyber {
  background: #f62459;
}

/* line 59, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/components/_icons.scss */
.dev-t {
  background: #926fb1;
}

/* line 3, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(to right, black, transparent), url("/NmHomepage/img/web-design.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 681px;
  color: white;
}

/* line 19, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.hero p {
  font-size: 1.25rem;
  margin: 0 15% 35px 15%;
}

/* line 24, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.card-container {
  width: 100%;
  padding: 50px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 32, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.card {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 30px;
  padding: 30px;
}

/* line 49, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.card h2 {
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 10px;
}

/* line 55, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.card p {
  font-size: .8125rem;
  line-height: 1.375rem;
  margin-top: 0;
}

/* line 61, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
h2::after {
  content: "";
  background: black;
  width: 28px;
  height: 3px;
  margin: 10px auto 0 auto;
  display: block;
}

/* line 70, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.info-container {
  background: #333645;
  color: white;
  margin-right: auto;
  margin-left: auto;
  padding: 25px 15px 50px 15px;
}

/* line 77, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.info-container h1 {
  margin-top: 0;
  font-size: 2.25rem;
}

/* line 82, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.info-container p {
  margin-bottom: 25px;
}

/* line 86, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.latest-bar {
  display: flex;
  align-items: center;
  height: 104px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  background: white;
}

/* line 97, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.latest-bar ul::after {
  content: "";
  background: black;
  height: 5px;
  margin: 17px auto 0 auto;
  display: block;
}

/* line 105, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.news-header {
  list-style: none;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 600;
  padding: 40px 0;
  margin: 0;
}

/* line 115, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.news-section {
  padding: 15px 15px 50px;
  width: 100%;
}

/* line 119, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.news-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  margin: auto;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  text-align: left;
}

/* line 133, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.case {
  background: #926fb1;
  border-color: #926fb1;
}

/* line 138, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.news-color {
  background: #4183d7;
}

/* line 142, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.case-title {
  color: #926fb1;
}

/* line 146, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.news-title {
  color: #4183d7;
}

/* line 150, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.img-container {
  width: 100%;
  margin-bottom: -7px;
}

/* line 155, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.img-container-a {
  width: 100%;
  height: 100%;
  display: block;
}

/* line 161, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.news {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* line 167, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.news-img {
  min-width: 100%;
  border: 1px solid #ccc;
}

/* line 172, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.news-text {
  border: 1px solid #ccc;
  padding: 20px 30px;
  font-size: .8125rem;
}

/* line 178, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.news-text-content {
  margin-bottom: 25px;
  margin-top: 30px;
}

/* line 183, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.user {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  width: 100%;
}

/* line 195, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.user p {
  margin: 0;
}

/* line 199, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.user img {
  max-width: 47px;
  max-height: 47px;
}

/* line 204, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.user-text {
  padding-left: 20px;
  width: 100%;
}

/* line 209, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.sponsors {
  display: none;
  height: 145.11px;
}

/* line 214, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.bus,
.crane,
.beat,
.northern {
  position: relative;
}

/* line 221, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.bus-color,
.crane-color,
.beat-color,
.northern-color {
  position: absolute;
  z-index: 10;
}

/* line 229, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.brand-container {
  display: flex;
  margin: 0 auto;
  justify-items: center;
  width: 750px;
  min-width: 750px;
}

/* line 237, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.brand-logo {
  padding: 0 20px;
  align-items: center;
  display: flex;
  overflow: hidden;
}

/* line 244, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.brand-logo-color {
  display: none;
  padding: 0 20px;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}

/* line 253, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.accred {
  display: none;
  width: 100%;
  padding: 50px 0px;
}

/* line 259, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.accred-imgs {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 750px;
  max-height: 88px;
  margin: 0 auto;
}

/* line 268, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.accred-img,
.accred-img-color {
  padding: 0 20px;
}

/* line 273, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.accred-img {
  align-items: center;
  display: flex;
}

/* line 278, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.accred-img-color {
  display: none;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 7.5px;
}

/* line 287, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.f-50,
.qms,
.carbon {
  position: relative;
}

/* line 293, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_containers.scss */
.f-50-color,
.qms-color,
.carbon-color {
  position: absolute;
}

/* line 3, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_footer.scss */
footer {
  background: #333645;
  color: white;
}

/* line 8, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_footer.scss */
footer h4 {
  font-size: 1rem;
  margin-bottom: 0;
}

/* line 13, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_footer.scss */
footer ul {
  list-style: none;
  padding: 0;
}

/* line 18, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_footer.scss */
footer ul li {
  font-size: 0.8125rem;
  line-height: 1.375rem;
}

/* line 23, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_footer.scss */
footer a {
  text-decoration: none;
  color: white;
}

/* line 28, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_footer.scss */
.footer-container {
  display: flex;
  flex-direction: column;
  padding: 30px 30px 43px;
  width: 100%;
}

/* line 35, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_footer.scss */
.footer-block {
  padding: 0 15px;
  margin-bottom: 30px;
  width: 100%;
}

/* line 41, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_footer.scss */
.social-blocks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

/* line 50, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_footer.scss */
.social-block {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 55px;
  width: 45%;
  background: rgba(0, 0, 0, 0.25);
  margin-top: 30px;
}

/* line 2, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_header.scss */
.header-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  margin: 0;
}

/* line 12, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_header.scss */
.header-logo {
  display: flex;
  flex-direction: row;
  width: 55%;
  height: 70px;
  margin: 0 auto 0 0;
  padding: 20px 0;
  justify-content: flex-start;
  align-items: center;
}

/* line 23, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_header.scss */
.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* line 30, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_header.scss */
.search-bar {
  position: relative;
  width: 100%;
  height: 47px;
  margin-top: 20px;
  display: flex;
  margin: 10px auto;
  font-size: 1rem;
}

/* line 41, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_header.scss */
.search {
  width: 100%;
  height: 47px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 5px 40px 5px 15px;
  outline: 0;
  background-color: #f5f5f5;
  margin-top: 10px;
}

/* line 50, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_header.scss */
.fa-search {
  width: 48px;
  height: 48px;
  margin-top: 10px;
  position: absolute;
  top: 7px;
  right: -7px;
}

/* line 59, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_header.scss */
.search-btn {
  display: none;
  margin-left: -1px;
}

/* line 64, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_header.scss */
.search-btn-lg {
  display: none;
  height: 56px;
  width: 63px;
  background: #999aa2;
  border-radius: 0 3px 3px 0;
  border: none;
  margin-left: 20px;
  border-radius: 3px;
}

/* line 76, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_header.scss */
.support-btn,
.contact-btn {
  display: none;
  background: #4183d7;
  border: 1px solid #4183d7;
  border-radius: 3px;
  min-width: 128px;
  min-height: 47px;
  padding: 10px 15px;
  text-transform: uppercase;
  color: white;
  line-height: 35px;
  text-align: center;
  margin-left: 20px;
  font-size: 18px;
  font-weight: 400;
}

/* line 94, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_header.scss */
.support-btn {
  background: #4183d7;
  border: 1px solid #4183d7;
}

/* line 99, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_header.scss */
.contact-btn {
  background: #999aa2;
  border: 1px solid #999aa2;
}

@media screen and (min-width: 768px) {
  /* line 5, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_media-queries.scss */
  .header-container {
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0;
  }
  /* line 12, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_media-queries.scss */
  .header-logo {
    width: 364px;
    height: 70px;
  }
  /* line 17, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_media-queries.scss */
  .phone {
    display: none;
  }
  /* line 21, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_media-queries.scss */
  .search-bar {
    order: 2;
    height: 56px;
    width: 237px;
    margin: 0;
  }
  /* line 28, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_media-queries.scss */
  .search {
    height: 56px;
    width: 174px;
    margin: 0;
  }
  /* line 34, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_media-queries.scss */
  .search-icon {
    display: none;
  }
  /* line 38, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_media-queries.scss */
  .fa-search {
    top: 1px;
    right: 0;
    color: white;
  }
  /* line 44, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_media-queries.scss */
  .search-icon-md {
    position: absolute;
    top: 5px;
    right: 7px;
  }
  /* line 50, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_media-queries.scss */
  .search-btn {
    display: block;
  }
  /* line 54, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_media-queries.scss */
  .actions {
    order: 3;
  }
  /* line 58, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_media-queries.scss */
  .cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 750px;
  }
  /* line 67, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_media-queries.scss */
  .card-column-1 {
    max-width: 720px;
    margin-right: auto;
    margin-left: auto;
  }
  /* line 73, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_media-queries.scss */
  .card-column-2 {
    width: 345px;
    height: 345px;
    margin: 30px auto 0 auto;
  }
  /* line 81, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_media-queries.scss */
  .news {
    flex-direction: row;
    justify-content: center;
    height: 100%;
    max-width: 750px;
    margin: 0 auto;
  }
  /* line 89, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_media-queries.scss */
  .news-block-1,
  .news-block-2 {
    width: 50%;
    max-width: 345px;
  }
  /* line 95, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_media-queries.scss */
  .news-block-1 {
    margin-right: 15px;
  }
  /* line 99, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_media-queries.scss */
  .news-block-2 {
    margin-left: 15px;
  }
  /* line 103, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_media-queries.scss */
  .news-block-3 {
    display: none;
  }
  /* line 107, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_media-queries.scss */
  .sponsors {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: flex-start;
    padding: 50px 0;
    margin: 0 15px;
  }
  /* line 116, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_media-queries.scss */
  .brand-logo {
    display: flex;
    overflow: hidden;
  }
  /* line 122, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_media-queries.scss */
  .footer-container {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 970px;
  }
  /* line 131, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_media-queries.scss */
  .footer-block {
    width: 50%;
  }
  /* line 135, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_media-queries.scss */
  .social-block {
    max-height: 55px;
  }
  /* line 141, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_media-queries.scss */
  .linked {
    margin-top: 5px;
  }
  /* line 145, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_media-queries.scss */
  .accred {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 992px) {
  /* line 155, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_media-queries.scss */
  .header-logo {
    width: 404px;
    padding: 0 15px;
    margin: 0;
  }
  /* line 161, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_media-queries.scss */
  .actions {
    justify-content: flex-end;
    width: 565px;
    padding: 0 15px;
    margin: 0;
  }
  /* line 168, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_media-queries.scss */
  .search-icon-lg {
    position: absolute;
    top: 5px;
    right: 7px;
  }
  /* line 174, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_media-queries.scss */
  .search-btn-lg {
    display: flex;
    position: relative;
  }
  /* line 179, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_media-queries.scss */
  .search-bar {
    display: none;
  }
  /* line 183, C:/Users/Jordan/Desktop/ReflectionV3/NmHomepage/scss/layout/_media-queries.scss */
  .support-btn,
  .contact-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */