

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(to right, black, transparent),
    url("/NmHomepage/img/web-design.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 681px;
    color: white;
}

.hero p {
    font-size: 1.25rem;
    margin: 0 15% 35px 15%;
}

.card-container {
    width: 100%;
    padding: 50px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 3px 35px rgba(0,0,0, .1);
    text-align: center;
    margin-top: 30px;
    padding: 30px;
}


.card h2 {
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.card p {
    font-size: .8125rem;
    line-height: 1.375rem;
    margin-top: 0;
}

h2::after {
    content: "";
    background: black;
    width: 28px;
    height: 3px;
    margin: 10px auto 0 auto;
    display: block;
}

.info-container {
    background: #333645;
    color: white;
    margin-right: auto;
    margin-left: auto;
    padding: 25px 15px 50px 15px;
}
.info-container h1 {
    margin-top: 0;
    font-size: 2.25rem;
}

.info-container p {
    margin-bottom: 25px;
}

.latest-bar {
    display: flex;
    align-items: center;
    height: 104px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    background: white;
}

.latest-bar ul::after {
    content: "";
    background: black;
    height: 5px;
    margin: 17px auto 0 auto;
    display: block;
}

.news-header {
    list-style: none;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 600;
    padding: 40px 0;
    margin: 0;
}


.news-section {
    padding: 15px 15px 50px;
    width: 100%;
}
.news-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    margin: auto;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 3px 35px rgba(0,0,0, .1);
    text-align: left;
}

.case {
    background: $purple;
    border-color: $purple;
}

.news-color {
    background: $light-blue;
}

.case-title {
    color: $purple;
}

.news-title {
    color: $light-blue;
}

.img-container {
    width: 100%;
    margin-bottom: -7px;
}

.img-container-a {
    width: 100%;
    height: 100%;
    display: block;
}

.news {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.news-img {
    min-width: 100%;
    border: 1px solid #ccc;
}

.news-text {
    border: 1px solid #ccc;
    padding: 20px 30px;
    font-size: .8125rem;
}

.news-text-content {
    margin-bottom: 25px;
    margin-top: 30px;;
}

.user {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    width: 100%;
}

.user p {
    margin: 0;
}

.user img {
    max-width: 47px;
    max-height: 47px; 
}

.user-text {
    padding-left: 20px;
    width: 100%;
}

.sponsors {
    display: none;
    height: 145.11px;
}

.bus,
.crane,
.beat,
.northern {
    position: relative;
}

.bus-color,
.crane-color,
.beat-color,
.northern-color {
    position: absolute;
    z-index: 10;
}

.brand-container {
    display: flex;
    margin: 0 auto;
    justify-items: center;
    width: 750px;
    min-width: 750px;
}

.brand-logo {
    padding: 0 20px;
    align-items: center;
    display: flex;
    overflow: hidden;
}

.brand-logo-color {
    display: none;
    padding: 0 20px;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

.accred {
    display: none;
    width: 100%;
    padding: 50px 0px;
}

.accred-imgs {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 750px;
    max-height: 88px;
    margin: 0 auto;
}

.accred-img,
.accred-img-color {
    padding: 0 20px;
}

.accred-img {
    align-items: center;
    display: flex;
}

.accred-img-color {
    display: none;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 7.5px;
}


.f-50,
.qms,
.carbon {
    position: relative;
}

.f-50-color,
.qms-color,
.carbon-color {
    position: absolute;
}