

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(to right, black, transparent),
    url("/NmHomepage/img/web-design.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 681px;
    color: white;
    
}

.hero p {
    font-size: 1.25rem;
    margin: 0 15% 35px 15%;
}

.card-container {
    width: 100%;
    padding: 50px 15px;
}

.card {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 3px 35px rgba(0,0,0, .1);
    text-align: center;
    margin-top: 30px;
    padding: 30px;
    min-height: calc(100%/7);
}


.card h2 {
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.card p {
    font-size: .8125rem;
    line-height: 1.375rem;
    margin-top: 0;
}

h2::after {
    content: "";
    background: black;
    width: 28px;
    height: 3px;
    margin: 10px auto 0 auto;
    display: block;
}

.info-container {
    background: #333645;
    color: white;
    margin-right: auto;
    margin-left: auto;
    padding: 25px 15px 50px 15px;
}
.info-container h1 {
    margin-top: 0;
    font-size: 2.25rem;
}

.info-container p {
    margin-bottom: 25px;
}

.latest-bar {
    display: flex;
    align-items: center;
    height: 104px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    background: white;
}

.latest-bar ul::after {
    content: "";
    background: black;
    height: 5px;
    margin: 17px auto 0 auto;
    display: block;
}

.news-header {
    list-style: none;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 600;
    padding: 40px 0;
    margin: 0;
}


.news-section {
    padding: 15px 15px 50px;
    width: 100%;
}
.news-block {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    margin: auto;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 3px 35px rgba(0,0,0, .1);
    text-align: left;
}

.case {
    background: $purple;
    border-color: $purple;
}

.news-color {
    background: $light-blue;
}

.case-title {
    color: $purple;
}

.news-title {
    color: $light-blue;
}

.img-container {
    width: 100%;
    height:100%;
    margin-bottom: -7px;
}

.img-container-a {
    width: 100%;
    height: 100%;
    display: block;
}


.news-img {
    min-width: 100%;
    border: 1px solid #ccc;
}

.news-text {
    border: 1px solid #ccc;
    padding: 30px;
}

.news-text-content {
    margin-bottom: 50px;
}

.user {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #ccc;
}

.user img {
    max-width: 47px;
    max-height: 47px; 
}


.sponsors {
    display: none;
}

.footer-container {
    padding: 47px 0 43px;
    width: 100%;
}


.footer-block {
    padding: 0 15px;
    margin-bottom: 30px;
    width: 100%;
}

.accred {
    display: none;
}





// =============================================================================//
// Card Hover states //
// =============================================================================//


.software-card {
    &:hover {
        p {
            color: white;
        }
        h2 {
            color: white;
        }
        .apps {
            color: $grey-blue;
        }
        .icon {
            background: white;
        }
        h2::after {
            background: white;
        }
        .app-btn {
            color: $grey-blue;
            background: white;
            border-color: white;
        }
    }
}

.software-card:hover {
    background: $grey-blue;
}

.it-card {
    &:hover {
        p {
            color: white;
        }
        h2 {
            color: white;
        }
        .it {
            color: $light-blue;
        }
        .icon {
            background: white;
        }
        h2::after {
            background: white;
        }
        .it-btn {
            color: $light-blue;
            background: white;
            border-color: white;
        }
    }
}

.it-card:hover {
    background: $light-blue;
}

.digital-card {
    &:hover {
        p {
            color: white;
        }
        h2 {
            color: white;
        }
        .digital-m {
            color: $green;
        }
        .icon {
            background: white;
        }
        h2::after {
            background: white;
        }
        .digital-btn {
            color: $green;
            background: white;
            border-color: white;
        }
    }
}

.digital-card:hover {
    background: $green;
}

.tele-card {
    &:hover {
        p {
            color: white;
        }
        h2 {
            color: white;
        }
        .tele-c {
            color: $red;
        }
        .icon {
            background: white;
        }
        h2::after {
            background: white;
        }
        .tele-btn {
            color: $red;
            background: white;
            border-color: white;
        }
    }
}

.tele-card:hover {
    background: $red;
}

.web-card {
    &:hover {
        p {
            color: white;
        }
        h2 {
            color: white;
        }
        .web {
            color: $purple;
        }
        .icon {
            background: white;
        }
        h2::after {
            background: white;
        }
        .web-btn {
            color: $purple;
            background: white;
            border-color: white;
        }
    }
}

.web-card:hover {
    background: $purple;
}

.cyber-card {
    &:hover {
        p {
            color: white;
        }
        h2 {
            color: white;
        }
        .cyber {
            color: $hot-pink;
        }
        .icon {
            background: white;
        }
        h2::after {
            background: white;
        }
        .cyber-btn {
            color: $hot-pink;
            background: white;
            border-color: white;
        }
    }
}

.cyber-card:hover {
    background: $hot-pink;
}

.dev-card {
    &:hover {
        p {
            color: white;
        }
        h2 {
            color: white;
        }
        .dev-t {
            color: $purple;
        }
        .icon {
            background: white;
        }
        h2::after {
            background: white;
        }
        .dev-btn {
            color: $purple;
            background: white;
            border-color: white;
        }
    }
}

.dev-card:hover {
    background: $purple;
}

