

footer {
    background: #333645;
    color: white;
}

footer h4 {
    margin-bottom: 26px;
}

footer ul {
    font-size: 0.8125rem;
    list-style: none;
    padding: 0;
}

footer a {
    text-decoration: none;
    color: white;
}