

@media screen and (min-width:768px) {

    .header-container {
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        margin: 0;
    }

    .header-logo {
        width: 364px;
        height: 70px;
    }

    .phone {
        display: none;
    }

    .menu {
        order: 2;
    }

    .search-bar-mobile {
        display: none;
    }

    .search-bar {
        order: 1;
        height: 56px;
        width: 237px;
        margin: 0;
    }

    .search {
        display: flex;
        height: 56px;
        width: 174px;
        margin: 0;
    }

    .search-icon-mobile {
        display: none;
    }

    .search-icon-md {
        display: flex;
        position: absolute;
        top: 5px;
        right: -2px;
        color: white;
    }

    .search-btn {
        display: block;
    }

    .actions {
        order: 3;
    }

    .cards {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 750px;
    }

    .card-column-1 {
        max-width: 720px;
        margin-right: auto;
        margin-left: auto;
    }

    .card-column-2 {
        width: 345px;
        height: 345px;
        margin: 30px auto 0 auto;
    }


    .latest-bar {
        width: 750px;
        max-width: 750px;
        padding: 0;
    }

    .news {
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
        max-width: 750px;
        margin: 0 auto;
    }

    .news-block-1,
    .news-block-2 {
        width: 50%;
        max-width: 345px;
    }

    .news-block-1 {
        margin-right: 15px;
    }

    .news-block-2 {
        margin-left: 15px;
    }

    .news-block-3 {
        display: none;
    }

    .sponsors {
        display: flex;
        justify-items: center;
        margin: 0 auto;
        padding: 50px 0;
        height: 170px;
        width: 750px;
        max-width: 750px;
    }

        .brand-container {
        display: flex;
        align-content: center;
        justify-content: space-between;
    }

    .northern {
        padding-right: 0;
    }

    .bus {
        padding-left: 0;
    }

    .brand-logo {
        display: flex;
        overflow: hidden;
    }


    .footer-container {
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 750px;
    }


    .footer-block {
        width: 50%;
    }
    
    .social-block {
        max-height: 55px;
    }


    
    .linked {
        margin-top: 5px;
    }

    .accred {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}    


@media screen and (min-width:992px) {

    .header-container {
        max-width: 970px;
        margin: 0 auto;
    }

    .header-logo {
        width: 404px;
        padding: 0 15px;
        margin: 0;
    }

    .actions {
        justify-content: flex-end;
        width: 565px;
        padding: 0 15px;
        margin: 0;
    }

    .search-icon-lg {
        position: absolute;
        top: 15px;
        right: 17px;
        color: white;    
    }
    
    .search-icon-md {
        top: 1px;
        right: 0;
        color: white;
    }

    .search-btn-lg {
        display: flex;
        position: relative;
    }

    .search-bar {
        display: none;
    }

    .support-btn,
    .contact-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
    }

    .hero {
        height: 80vh;
    }


    .cards {
        width: 920px;
        max-width: 920px;
    }

    .card {
        padding: 15px 30px;
    }

    .card-column-1 {
        width: 293.33px;
        height: 356px;
        margin: 0;
        padding: 5px 30px 15px 30px;
    }

    .card-column-2 {
        width: 440px;
        height: 290px;
        margin: 30px 0 0 0;
    }


    .latest-bar {
        width: 970px;
        max-width: 970px;
        padding: 0;
    }

    .news {
        width: 970px;
        max-width: 970px;
    }

    .news-block-1,
    .news-block-2 {
        width: 485px;
        height: 663px; 
        max-width: 485px;
    }

    .sponsors {
        width: 970px;
        max-width: 970px;
    }

    .brand-container {
        width: 970px;
        max-width: 970px;
    }
    
    .accred {
        height: 210.9px;
    }

    .accred-imgs {
        width: 970px;
        max-width: 970px;
        max-height: 110px;
        height: 110px;
    }

    .accred-img-color {
        top: 0px;
    }

    .footer-container {
        width: 970px;
        max-width: 970px;
    }
}

@media screen and (min-width: 1260px) {

    .header-container {
        width: 1200px;
        max-width: 1200px;
    }
    
    .actions {
        width: 800px;
        height: 70px;
    }

    .search-btn-lg {
        display: none;
    }

    .search-bar {
        display: flex;
        margin-left: 20px;
        width: 296px;
    }

    .search-icon-md {
        top: 4px;
        right: -3px;
    }

    .search {
        width: 240px;
    }

    .main-nav-container {
        width: 1230px;
        max-width: 1230px;
    }

        .web-nav,
    .support-nav,
    .tele-nav,
    .software-nav,
    .digital-nav,
    .cyber-nav {
        width: 192.67px;
    }

    .nav-sub-text {
        width: 1170px;
    }

    .dash {
        margin-left: 50px;
    }

    .dash-lg {
        margin-left: 100px;
    }

    .cards {
        width: 1200px;
        max-width: 1200px;
    }

    .card-column-1 {
        width: 380px;
        height: 312px;
    }

    .card-column-2 {
        width: 275px;
        height: 312px;
    }

    .info-container {
        justify-content: start;
        width: 1200px;
        margin: 0 auto;
    }

    .info-container-inner {
        width: 600px;
    }


    .latest-bar {
        width: 1200px;
        max-width: 1200px;
        padding: 0;
    }

    .news {
        width: 1200px;
        max-width: 1200px;
    }

    .news-block-3 {
        display: block;
        margin-left: 30px;
    }

    .news-block-1,
    .news-block-2,
    .news-block-3 {
        width: 370px;
        height: 618.86px;
    }

    .news-text {
        width: 370px;
        height: 370px;
    }

    .sponsor-wrap {
        display: flex;
        align-content: center;
    }

    .brand-container,
    .sponsors {
        width: 1200px;
        max-width: 1200px;
    }

    footer {
        height: 309px;
        padding: 47px 0 43px;
        display: flex;
    }

    .footer-container {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 1200px;
        max-width: 1200px;
        padding: 0;
    }

    .footer-block {
        width: 300px;
    }

    .linked {
        margin-top: 24px;
    }
}