

@media screen and (min-width:768px) {

    .header-container {
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        margin: 0;
    }

    .header-logo {
        width: 364px;
        height: 70px;
    }

    .phone {
        display: none;
    }

    .search-bar {
        order: 2;
        height: 56px;
        width: 237px;
        margin: 0;
    }

    .search {
        height: 56px;
        width: 174px;
        margin: 0;
    }

    .search-icon {
        display: none;
    }

    .fa-search {
        top: 1px;
        right: 0;
        color: white;
    }

    .search-icon-md {
        position: absolute;
        top: 5px;
        right: 7px;
    }

    .search-btn {
        display: block;
    }

    .actions {
        order: 3;
    }

    .cards {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 750px;
    }

    .card-column-1 {
        max-width: 720px;
        margin-right: auto;
        margin-left: auto;
    }

    .card-column-2 {
        width: 345px;
        height: 345px;
        margin: 30px auto 0 auto;
    }



    .news {
        flex-direction: row;
        justify-content: center;
        height: 100%;
        max-width: 750px;
        margin: 0 auto;
    }

    .news-block-1,
    .news-block-2 {
        width: 50%;
        max-width: 345px;
    }

    .news-block-1 {
        margin-right: 15px;
    }

    .news-block-2 {
        margin-left: 15px;
    }

    .news-block-3 {
        display: none;
    }

    .sponsors {
        display: flex;
        justify-content: space-around;
        justify-items: center;
        align-items: flex-start;
        padding: 50px 0;
        margin: 0 15px;
    }

    .brand-logo {
        display: flex;
        overflow: hidden;
    }


    .footer-container {
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: 0 auto;
        max-width: 970px;
    }


    .footer-block {
        width: 50%;
    }
    
    .social-block {
        max-height: 55px;
    }


    
    .linked {
        margin-top: 5px;
    }

    .accred {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}    


@media screen and (min-width:992px) {

    .header-logo {
        width: 404px;
        padding: 0 15px;
        margin: 0;
    }

    .actions {
        justify-content: flex-end;
        width: 565px;
        padding: 0 15px;
        margin: 0;
    }

    .search-icon-lg {
        position: absolute;
        top: 5px;
        right: 7px;
    }

    .search-btn-lg {
        display: flex;
        position: relative;
    }

    .search-bar {
        display: none;
    }

    .support-btn,
    .contact-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}