
nav {
    width: 100%;
    height: 99px;
    background: #333645;
    display: none;
    position: relative;
    font-size: 1.125rem;
}

.main-nav-container {
    width: 970px;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    position: relative;
}

.web-nav,
.support-nav,
.tele-nav,
.software-nav,
.digital-nav,
.cyber-nav {
    width: 154.33px;
    height: 100%;
    padding: 19px 0 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-transform: uppercase;
    color: white;
    border-left: 1px solid rgba(0,0,0, .25);
    border-right: 1px solid hsla(0,0%,100%,.1);
    font-size: 1.125rem;
    line-height: 1;
}


// Nav Sub menu dropdowns // 


.nav-sub-text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    list-style: none;
    font-size: .8125rem;
    text-transform: uppercase;
    color: white;
    margin: 0;
    padding: 0;
}


.nav-sub-text li {
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    vertical-align: middle;
    height: 100%;
    padding-left: 20px;
}

.dash {
    width: 6px;
    height: 2px;
    background-color: white;
    display:block;
    content: "";
    margin: auto 0;
    margin-left: 15px;
}

.web-nav-wrap {
    display: none;
    justify-self: center;
    justify-items: center;
    justify-content: center;
    position: absolute;
    top: 99px;
    height: 45px;
    width: 100%;
    background: #79539a;
}


.web-nav-sub {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    justify-items: center;
    background: #79539a;
    width: 925px;
    height: 45px;
}





// Nav Hover // 

.web-nav {
    &:hover {
        background: $purple;
        .web-nav-icon {
            color: white;
        }
        .web-nav-wrap {
            display: flex;
        }
    }
}

